* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: sans-serif;
}

ul {
    margin: 20px 0;
    list-style: none;
}

ul li {
    display: flex;
    margin-top: 10px;
}

img {
    width: 60px;
    margin-right: 10px;
    border-radius: 10px;
}